@media screen and (min-width: 1024px){
    $tb-space:(
        alto:54em,
        lder:2em,
        lizq: 2em,
    ); 
    body{
        header{
        height: 10em;
        }
        main{
            height: map-get($map:$tb-space , $key:alto );
            margin-left: map-get($map:$tb-space , $key:lizq );
            margin-right: map-get($map:$tb-space , $key:lder );
        }   
        footer{
            height: 6em;
            margin-top: 2em;
        }
    }
    
    .margin-h2{
        margin-bottom: 2em;
    }
    .line-div{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .alt-section{
        height: 500px;
    }
}
@media only screen and (max-width: 320px){
    
}

 