$tb-space:(
    alto:54em,
    lder:2em,
    lizq: 2em,
);
body{
    header{
    height: 20em;
    }
    main{
        height: map-get($map:$tb-space , $key:alto );
        margin-left: map-get($map:$tb-space , $key:lizq );
        margin-right: map-get($map:$tb-space , $key:lder );
    }        
    footer{
        height: 12em;
        margin-top: 2em;
    }
}

.margin-h2{
    margin-bottom: 2em;
}
